.cart {
  background-color: black;
  text-align: center;
  color: white;
  margin-top: -75px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 5px;
  width: 40%;
  border-radius: 5px;
  height: 600px;
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.back_button {
  position: absolute;
  left: 5%;
  top: 20px;
  color: white;
  background: none;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  opacity: 0.5;
  border-radius: 3px;
}

.back_button:hover {
  opacity: 1;
  color: white;
  cursor: pointer;
}
