.checkout {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 10px;
  background-color: lightgreen;
  color: black;
  width: 95%;
  border-radius: 5px;
  font-weight: bolder;
}

.checkout button {
  background-color: green;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 10px;
  width: 40%;
  font-weight: bold;
}

.checkout button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.checkout button:disabled {
  background-color: grey;
  color: #e2e2e2;
  cursor: not-allowed;
}
