@keyframes spinner {
  0% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(135deg);
  }
  75% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
.loading_spinner {
  width: 80px;
  height: 80px;
  border: 20px solid #10c168;
  border-right: 20px solid #e2e2e2;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
}

.spinner_container {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translateX(-50%);
}

.text {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  color: #10c168;
  height: 350px;
  text-align: center;
}

.text img {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text button {
  margin-top: 180px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  font-size: 14px;
  height: 36px;
  width: 300px;
  border-radius: 5px;
}

.text button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.text h1 {
  font-size: 48px;
}
